body {
    padding: 0;
    margin: 0;
    height: 100vh;
}
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.wrapp {
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}